.swiper-button-next,
.swiper-button-prev
{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 80px;
    height: 40px;
    margin: 0;

    transition: .2s linear;
    transform: none;

    color: #afbcc8;
    border: 1px solid #afbcc8;
    border-radius: 16px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 17px;
    height: 18px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #fff;
    border-color: #2f7abe;
    background: #2f7abe;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: relative;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: auto;
    height: 12px;

    pointer-events: none;
}


.swiper-pagination-bullet
{
    display: block;

    width: 12px;
    height: 12px;

    transition: background .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 50%;
    background: #afbcc8;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 10px !important;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #2f7abe;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
